# Connectivity
node_modules/
backend/node_modules/
frontend/node_modules/

# Python Virtual Environments
venv/
env/
.env
backend/src/ML/venv/
backend/src/python/venv/
__pycache__/
*.py[cod]

# ML Models & Heavy Files
*.safetensors
*.pt
*.pth
*.h5
*.pkl
*.dll
*.lib
*.exe
*.bin
*.onnx

# Data Files & Logs
*.csv
*.xlsx
*.log

# Build Outputs
dist/
first-dist/
build/
out/
coverage/

# Misc
.DS_Store
.vscode/

# Exceptions
!backend/src/python/RAIL MADAD.csv
